<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <context-param>
        <param-name>org.eclipse.jetty.servlet.Default.useFileMappedBuffer</param-name>
        <param-value>false</param-value>
    </context-param>

    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>servlet.HelloWorldServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/HelloWorld</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>